.block-filter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  

  &__element {
    width: calc(50% - 5px);
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 1.6rem;
    border-radius: 1.4rem;
    box-shadow: rgba(118, 176, 235, 0.21) 0px 0px 10px 0px;
    margin-bottom: 3.2rem;

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  &__box-select {
    cursor: pointer;
    display: flex;
    background-color: #fff;
    border-radius: 1.6rem;
    box-shadow: rgba(118, 176, 235, 0.21) 0px 0px 10px 0px;
    padding: 12px;
    margin-bottom: 3.2rem;
  }

  &__box-select__text {
    margin-right: 1rem;
  }
}
